{% extends 'base.html' %}
{% block head-extra %}
    <script type="text/javascript">
        $(document).ready(function() {
            window.saleManager = new SaleManager(
                    $('#sale-display'),
                    _.template($('#template-sale-display').html())
            )
            window.plm = new ProductListManager(
                    '/products/',
                    $('#product-list'),
                    _.template($('#template-product').html()),
                    saleManager
            );
            plm.update();
        });
    </script>
{% endblock %}

{% block content %}
    <script type="text" id="template-product">
        <% $.each(products, function(index, product) { %>
        <li class="span2">
            <div class="thumbnail" data-index="<%= index %>">
                <img src="<%= product.image_url %>">
                <%= product.name %> | <%= parseFloat(product.price).toFixed(2) %>
                <div class="btn btn-primary">Add to cart</div>
            </div>
        </li>
        <% }); %>
    </script>
    <script type="text" id="template-sale-display">
        <table class="table">
            <h4>Your cart</h4>
            <% $.each(products, function(index, product) { %>
            <tr>
                <td><%= product.name %></td>
                <td style="text-align: right;"><%= parseFloat(product.price).toFixed(2) %></td>
            </tr>
            <% }); %>
         </table>
    </script>
    <div class="row">
        <div class="span8" id="product-list-container">
            <ul id="product-list" class="thumbnails">
                <li>No content</li>
            </ul>
        </div>
        <div class="offset1 span3 form">
            <div class="row-fluid">
                <div id="qr-container" class="span12">
                    <div id="qr-container-inner" style="height: 220px; width: 220px;">
                        <div>
                            <img id="qr-image" src="{{ pos_settings.MCASH_SERVER }}shortlink/v1/qr_image/{{ pos_settings.SHORTLINK_ID }}/{{ cart_id }}">
                        </div>
                        <span id="qr-status" class="label label-success" style="display: none;">QR scanned</span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <a href="#" class="btn-large btn-success">DONE!</a>
                </div>
                <div class="span6">
                    <a href="/" class="btn-large btn-danger">Cancel</a>
                </div>
            </div>
            <br>
            <div class="row-fluid">
                <div class="span12" id="sale-display">
                    Your cart
                </div>
            </div>
        </div>
    </div>
{% endblock %}
