{% extends 'base.html' %}
{% block head-extra %}
    <script type="text/javascript">
        $(document).ready(function() {
            pusher.bind('qr-scan', function(data) {
                var img = $('#qr-image');
                var innerContainer = $('#qr-container-inner');
                innerContainer.height(img.height()).width(img.width());
                img.parent().slideUp(400, function() {
                    $('#qr-status').html('QR scanned: ' + data.token).fadeIn('fast');
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8" id="product-list">
            <ul class="thumbnails">
                {% for product in products %}
                    <li class="span2">
                        <div class="thumbnail">
                            <img src="{{ product.image_url }}">
                            {{ product.name }} | {{ product.price }}
                            <div class="btn btn-primary">Add to cart</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="offset1 span3 form">
            <div class="row-fluid">
                <div id="qr-container" class="span12">
                    <div id="qr-container-inner" style="height: 220px; width: 220px;">
                        <div>
                            <img id="qr-image" src="{{ pos_settings.MCASH_SERVER }}shortlink/v1/qr_image/{{ pos_settings.SHORTLINK_ID }}/{{ cart_id }}">
                        </div>
                        <span id="qr-status" class="label label-success" style="display: none;">QR scanned</span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    Your cart
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <a href="#" class="btn-large btn-success">DONE!</a>
                </div>
                <div class="span6">
                    <a href="#" class="btn-large btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
